<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="myInfo box" th:fragment="myinfo">
        <img class="imgBox" th:src="|/images/profile/${profile.profileImage}|" width="100%" height="100%" alt="김승우">
        <div class="status">
            <div class="name">
                <span th:text="${profile.name}"></span>
                <span th:if="${profile.social != null}" th:class="'social ' + ${profile.social.socialType.className}" th:text="${profile.social.socialType}"></span>
            </div>
            <div class="email">tmd8633@naver.com</div>
        </div>
        <div class="totalStatus">
            <a href="#" class="box">
                <h3>점수</h3>
                <span th:text="${profile.score} + '점'">1,015점</span>
            </a>
            <a href="#" class="box">
                <h3>순위</h3>
                <span th:text="${profile.rank} + '등'">10,000등</span>
            </a>
            <a href="#" class="box">
                <h3>등급</h3>
                <span th:text="${profile.grade}">아마추어1</span>
            </a>
            <a href="#" class="box">
                <h3>전적</h3>
                <span>10전 6승 4패</span>
            </a>
            <a href="#" class="box">
                <h3>매너점수</h3>
                <span>0점</span>
            </a>
            <a href="#" class="box">
                <h3>비매너점수</h3>
                <span>0점</span>
            </a>

        </div>
    </div>

    <div class="mypageMenu" th:fragment="mypage_menu">
        <div class="myCash box">
            <div class="nowCash">
                <div class="flex">
                    <span>캐시</span>
                    <a href="/cash/charge" class="cashBtn">충전</a>
                </div>
                <div class="money" th:text="${profile.cash} + '원'"></div>
            </div>
        </div>
        <div class="box">
            <h3>마이페이지</h3>
            <ul class="menuList">
                <li th:aria-pressed="${menu  == 'main'} ? 'true' : 'false'"><a href="/mypage">계정 관리</a></li>
                <li th:aria-pressed="${menu  == 'order'} ? 'true' : 'false'"><a href="/mypage/order">경기내역</a></li>
                <li th:aria-pressed="${menu  == 'cash'} ? 'true' : 'false'"><a href="/mypage/cash">충전내역</a></li>
                <li th:aria-pressed="${menu  == 'coupon'} ? 'true' : 'false'"><a href="/mypage/coupon">쿠폰</a></li>
                <li th:aria-pressed="${menu  == 'manager'} ? 'true' : 'false'"><a href="/mypage/manager">매니저</a></li>
                <li th:aria-pressed="${menu  == 'friend'} ? 'true' : 'false'"><a href="/mypage/friend">친구</a></li>
                <li th:aria-pressed="${menu  == 'setting'} ? 'true' : 'false'"><a href="/mypage/settings">설정</a></li>
            </ul>
        </div>
    </div>
</body>
</html>