<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypage_menu.css">
    <link rel="stylesheet" href="/css/mypage_order.css">
    <link rel="stylesheet" href="/css/calendar_range.css">
    <script src="/js/calendar_range.js"></script>
    <script src="/js/mypage_order.js"></script>
    <script src="/js/fetch.js"></script>
    <title>경기내역 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="container">
        <div class="myInfo box" th:replace="~{/common/mypage_info_menu :: myinfo}"></div>
        <div class="mypageMain">
            <div class="mypageMenu box" th:fragment="mypage_menu">
                <h3>마이페이지</h3>
                <ul class="menuList">
                    <li aria-pressed="false"><a href="/mypage">계정 관리</a></li>
                    <li aria-pressed="false"><a href="/mypage/order">경기내역</a></li>
                    <li aria-pressed="true"><a href="/mypage/cash">충전내역</a></li>
                    <li aria-pressed="false"><a href="/mypage/coupon">쿠폰</a></li>
                    <li aria-pressed="false"><a href="/mypage/friend">친구</a></li>
                    <li aria-pressed="false"><a href="/mypage/settings">설정</a></li>
                </ul>
            </div>
            <div class="content">
                <h2>경기내역</h2>
                <div class="date_picker_wrapper">
                    <div class="date_picker_buttons">
                        <button type="button" id="date_picker_6months" aria-selected="false">6개월</button>
                        <button type="button" id="date_picker_1months" aria-selected="false">1개월</button>
                        <button type="button" id="date_picker_1weeks" aria-selected="false">1주</button>
                    </div>
                    <div class="date_picker_calendar">
                        <summary id="date_range">
                            <div class="date_wrap">
                                <input type="text" name="startDate" inputmode="numeric" placeholder="YYYY/MM/DD" aria-pressed="false" readonly>
                            </div>
                            <span>-</span>
                            <div class="date_wrap">
                                <input type="text" name="endDate" inputmode="numeric" placeholder="YYYY/MM/DD" aria-pressed="false" readonly>
                            </div>
                        </summary>
                        <div id="date_range_calendar" class="">
                            <div id="calendar_header">
                                <button type="button" id="preButton">
                                    <svg transform='rotate(180)' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                                </button>
                                <div class="months">
                                    <div id="leftMonth"></div>
                                    <div id="rightMonth"></div>
                                </div>
                                <button type="button" id="nextButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                                </button>
                            </div>
                            <div id="calendar_body">
                                <div id="leftBody">
                                    <div class="week">
                                        <div class="cell"><div>일</div></div>
                                        <div class="cell"><div>월</div></div>
                                        <div class="cell"><div>화</div></div>
                                        <div class="cell"><div>수</div></div>
                                        <div class="cell"><div>목</div></div>
                                        <div class="cell"><div>금</div></div>
                                        <div class="cell"><div>토</div></div>
                                    </div>
                                </div>
                                <div id="rightBody">
                                    <div class="week">
                                        <div class="cell"><div>일</div></div>
                                        <div class="cell"><div>월</div></div>
                                        <div class="cell"><div>화</div></div>
                                        <div class="cell"><div>수</div></div>
                                        <div class="cell"><div>목</div></div>
                                        <div class="cell"><div>금</div></div>
                                        <div class="cell"><div>토</div></div>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar_bottom">
                                <button type="button" id="confirmButton">완료</button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="matchList box">
                    <li class="matchBox">
                            <span class="matchId">1</span>
                            <span class="matchDate">2023년 11월 26일(일)</span>
                            <span class="matchTime">18:00</span>
                            <span class="matchMax">6 vs 6 3파전</span>
                            <a href="#" class="title">부산 준타스 풋살 아레나 화이트</a>
                            <span>경기종료</span>
                            <div class="point win">+ 5</div>
                    </li>
                    <li class="empty">
                        <span>경기 기록이 없어요.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>