<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypage_menu.css">
    <link rel="stylesheet" href="/css/mypage_cash.css">
    <title>충전내역 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="container">
        <div class="myInfo box" th:replace="~{/common/mypage_info_menu :: myinfo}"></div>
        <div class="mypageMain">
            <div class="mypageMenu" th:replace="~{/common/mypage_info_menu :: mypage_menu}"></div>
            <div class="content">
                <h2>충전내역</h2>
                <ul class="cashList box">
                    <li class="cashBox" th:if="${cashList != null || cashList.size > 0}" th:each="item : ${cashList}">
                        <span class="cashDate" th:text="${item.cashDate}">2023년 11월 25일(토)</span>
                        <span class="cashTime" th:text="${item.cashTime}">01:23</span>
                        <span th:text="${item.cashEnum}">사용</span>
                        <span th:class="${item.cash < 0} ? 'use' : 'charge'" th:text="${item.cashStr} + '원'">-10,000원</span>
                        <span th:text="${item.nowCash} + '원'">10,000원</span>
                    </li>
                    <li class="empty" th:if="${cashList == null || cashList.size <= 0}"><span>충전 이 없어요.</span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>