<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypage_menu.css">
    <link rel="stylesheet" href="/css/mypage_cash.css">
    <title>충전내역 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="container">
        <div class="myInfo box" th:replace="~{/common/mypage_info_menu :: myinfo}"></div>
        <div class="mypageMain">
            <div class="mypageMenu" th:replace="~{/common/mypage_info_menu :: mypage_menu}"></div>
            <div class="content">
                <h2>충전내역</h2>
                <ul class="cashList box">
                    <li class="cashBox">
                        <span class="cashDate">2023년 11월 25일(토)</span>
                        <span class="cashTime">01:23</span>
                        <span>사용</span>
                        <span class="use">-10,000원</span>
                        <span>10,000원</span>
                    </li>
                    <li class="cashBox">
                        <span class="cashDate">2023년 11월 25일(토)</span>
                        <span class="cashTime">01:23</span>
                        <span>충전</span>
                        <span class="charge">+20,000원</span>
                        <span>20,000원</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>