<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypage_menu.css">
    <link rel="stylesheet" href="/css/mypage_order.css">
    <title>경기내역 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="container">
        <div class="myInfo box" th:replace="~{/common/mypage_info_menu :: myinfo}"></div>
        <div class="mypageMain">
            <div class="mypageMenu box" th:replace="~{/common/mypage_info_menu :: mypage_menu}"></div>
            <div class="content">
                <h2>경기내역</h2>
                <div class="searchBox">

                </div>
                <ul class="matchList box">
                    <li class="matchBox">
                        <span class="matchDate">2023년 11월 26일(일)</span>
                        <span class="matchTime">18:00 ~ 20:00</span>
                        <span class="result win">승</span>
                        <span class="matchScore">1 vs 0</span>
                        <a href="#" class="title">부산 준타스 풋살 아레나 화이트</a>
                        <span class="win">+ 5</span>
                    </li>
                    <li class="matchBox">
                        <span class="matchDate">2023년 11월 25일(토)</span>
                        <span class="matchTime">00:00 ~ 02:00</span>
                        <span class="result lose">패</span>
                        <span class="matchScore">1 vs 2</span>
                        <a href="#" class="title">무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨 구장</a>
                        <span class="lose">- 5</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>