header{
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobileHeader {
    display: none;
}

header .flexL, .flexR{
    display: flex;
    margin: 1rem 0.5rem;
    align-items: center;
    gap: 2rem;
}
.flexR .login:hover {
    text-decoration: underline;
}

header .logo {
    width: 13rem;
}

header .menu {
    display: flex;
}

header .menu .menuTitle {
    margin: 0 1.5rem;
    font-size: 1.05rem;
}

.flexR a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 0.2rem;
    overflow-y: hidden;
    position: relative;
    flex-wrap: nowrap;

    svg {
        flex:0 0 30px;
        margin-top: 1rem;
        width: 30px;
        height: 30px;
        fill: rgb(80, 80, 80);
        transition: margin 0.2s ease, flex 0.2s ease;
    }

    span {
        font-size: 0.7rem;
        color: rgb(80, 80, 80);
        position: relative; /* 수정: absolute 대신 relative로 변경 */
        transition: top 0.2s ease;
        top: 80%; /* 수정: 초기에는 아래로 이동하여 숨기기 */
    }

    &:hover {
        svg {
            flex: auto;
            margin: initial;

        }

        span {
            top: 0; /* hover시 위로 이동하여 화면에 보이게 함 */
        }
    }
}


.flexR a * {
    pointer-events: none;
}


.logo {
    padding: 0;
    text-align: left;

    img {
        margin: 0;
        width: 140px;
    }
}

@media screen and (max-width: 768px) {
    body {
        position: relative;
        margin-bottom: 5rem;
    }
    header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 0 10px 2px rgba(0,0,0,.15);
        background-color: white;
        z-index: 10;

        .mobileHeader {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;

            .logo img {
                width: 100px;
                height: 44px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                width: calc(100% / 3);
                height: 100%;

                * {
                    pointer-events: none;
                }
            }
        }
    }
    header > *:not(.mobileHeader) {
        display: none;
    }
    .mobileHeader svg {
        width: 25px;
        height: 25px;
        fill: var(--gray);
    }
    .mobileHeader span {
        font-size: 1rem;
        color: var(--gray)
    }
}
@media screen and (max-width: 460px) {
    header {
        height: 4rem;
    }
    .mobileHeader svg {
        width: 22px;
        height: 22px;
        fill: var(--gray);
    }
    .mobileHeader span {
        font-size: 0.8rem;;
        color: var(--gray)
    }

}

