@media screen and (max-width: 75rem) {
    body {
        overflow-x: hidden;
        padding: 1rem;;
    }
    aside {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    body {
        position: relative;
        margin-bottom: 5rem;
    }
    header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 0 10px 2px rgba(0,0,0,.15);
        background-color: white;
        z-index: 10;

        .mobileHeader {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;

            .logo img {
                width: 100px;
                height: 44px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                width: calc(100% / 3);
                height: 100%;

                * {
                    pointer-events: none;
                }
            }
        }
    }
    header > *:not(.mobileHeader) {
        display: none;
    }
    .mobileHeader svg {
        width: 25px;
        height: 25px;
        fill: var(--gray);
    }
    .mobileHeader span {
        font-size: 1rem;
        color: var(--gray)
    }
}
@media screen and (max-width: 720px) {

    .searchBox {
        flex-direction: column;
        
        #date_range_calendar {
            width: 100%;
            padding: 0;
            border: none;

            #calendar_header {
                margin-bottom: 1rem;
            }

            .cell {
                width: 50px;
                height: 40px;

                button {
                    font-size: 1.2rem;;
                    width: 100%;
                    height: 80%;
                }
            }
            
        }
    }
    
}
@media screen and (max-width: 580px) {
    .resultButton {
        display: none;
    }
    .result {
        .resultContent {
            min-width: 0;
        }
    }
}
@media screen and (max-width: 540px) {
    .main .searchBox {
        gap: 1.5rem;
        
        #date_range_calendar {

            .cell {
                width: 40px;
                height: 30px;

                button {
                    font-size: 1.05rem;;
                    width: 100%;
                    height: 80%;
                }
            }
            
        }
    }
}

@media screen and (max-width: 460px) {
    .main .searchBox {
        
        #date_range_calendar {
            min-height: 0;

            .cell {
                width: 35px;;
                height: 25px;

                button {
                    font-size: 1.05rem;
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
    .result {
        .resultHour {
            margin: 0 1rem 0 0.5rem;
        }
        .resultRegion {
            margin: 0
        }
    }
    body .banner {
        height: 10rem;
    
        .fieldImageContainer {
            height: 100%;
        }
    }

    .mobileHeader svg {
        width: 22px;
        height: 22px;
        fill: var(--gray);
    }
    .mobileHeader span {
        font-size: 0.8rem;;
        color: var(--gray)
    }
    
}

@media screen and (max-width: 425px) {
    .main .searchBox {
        
        #date_range_calendar {
            min-height: 0;

            .cell {
                width: 25px;;
                height: 25px;

                button {
                    font-size: 1.05rem;
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}
@media screen and (max-width: 375px) {
    .search .option {
        flex-direction: column;
    }
    .main .searchBox {
        
        #date_range_calendar {
            min-height: 0;

            .cell {
                width: 20px;
                height: 20px;

                button {
                    font-size: 1rem;
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}
@media screen and (max-width: 350px) {
    .body {
        min-width: 350px;
    }
    .subTitle .resultPlayer {
        display: none;
    }
}

.btnBox *{
    pointer-events: initial;
}
.btnBox > *:not(.subOption) {
    pointer-events: none;
}
.subOption * {
    pointer-events: all;
}
.region, .gender, .grade {
    position: relative;
    text-wrap: nowrap;
}


.banner {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    gap: 2rem;
}

.main, .side {
    margin: 0;
}

.main {
    flex: 1 1 auto;
    width: calc(65rem - 2rem - 21rem);
}

.side {
    flex: 0 0 auto;
    border: 0.1rem solid var(--border-color);
    border-radius: 1rem;
    width: 21rem;
    padding: 1rem;
    position: relative;
    min-height: 30rem;
    background-color: white;
}

/* 검색조건 설정 */
.search {
    width: 100%;
}
.searchBox {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}
.searchBox > * {
    margin: 0;
}
/* 검색어 */
.searchForm {
    width: 100%;
    height: 3rem;
    position: relative;
    margin-bottom: 0.5rem;
}

#searchWord {
    width: 100%;
    height: 100%;
    cursor: text;
}
.searchButton {
    top: 0;
    right: 0.5rem;
    width: 2.2rem;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.searchButton svg {
    width: 100%;
    height: 100%;
    fill: var(--gray)
}
#keyword {
    cursor: text;
}
#keyword::placeholder {
    color: rgb(217, 217, 217);
}
/* input:search x 버튼 삭제 */
/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/* 검색조건 */

.option {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.option button {
    margin: 0;
    width: 100%;
    height: 3rem;
}

.option .btnBox span {
    margin: 0;
}

.subOption {
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: white;
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: default;
}
.subOption li {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    cursor:pointer;
}
.subOption li > * {
    margin: 0;
}
.subOption label {
    text-wrap:nowrap;
}


/* 검색건수 */
.searchCountBox {
    display: block;
    margin: 2rem 0 1.5rem 0;
}
.searchDate {
    font-size: 1.1rem;
    color: var(--gray);
}
.searchCount {
    font-size: 1.2rem;
    font-family: 'Pretendard-Bold';
    margin: 0 1rem 0 0.5rem;
}

.result{
    height: 4rem;
    padding: 0.5rem;
    /* margin-bottom: 0.5rem; */
    border-radius: 0;
    border-bottom: none;
}

.result:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

}
.result:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom: 0.1rem solid var(--border-color);
}

.resultHour {
    margin: 0 1.5rem 0 0.5rem;
    font-size: 1.2rem;
}
.resultRegion {
    margin: 0 1.5rem 0 0.5rem;
    font-size: 1.1rem;
    white-space: nowrap;
}
.resultContent {
    display: grid;
    margin-left: 1rem;
    justify-content: left;
    min-width: 15rem;
    grid-template-rows: 70% 30%;
}
.resultTitle {
    margin: 0;
    font-size: 1.1rem;
    max-width: 33rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.subTitle {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 0;
    gap: 0.5rem;
}

.subTitle > * {
    margin: 0;
    color: var(--gray);
}

.notFound {
    color: var(--gray);
}

.resultGender {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.resultGender::before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 100%;
}
.mix::before {
    background-color: #ffc645;
}
.male::before {
    background-color: #3534a5;;
}
.female::before {
    background-color: #ff5d5d;;
}


/* 사이드메뉴 */


.noneId {
    text-align: center;
    margin-top: 1rem;
}
.noneId a {
    margin: 0 0 0.5rem 0;
}

.readMe {
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.readMe .me {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--main-color);
}

.me > * {
    margin: 0;
}

.readMe table {
    margin: 0;
    width: 100%;
    text-align: center;
}
.readMe table > tr {
    background-color: aqua;
}

.cashBtn {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px #b2b2b2;
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: var(--main-font-color);
    border-radius: 1rem;
}
.cashBtn:hover {
    background-color: var(--main-font-color-hover);
}
.cashBtn > * {
    pointer-events: none;
}
.cashBtn svg {
    margin: 0;
    width: 2rem;
    height: 2rem;
    /* fill: var(--main-color); */
    fill: white;
}
.cashBtn span {
    /* color: var(--main-color); */
    color: white;
    margin: 0;
}

/* 부가기능 */

.subFunc {
    margin: 1rem 0 0.5rem 0;
}

.subFuncSubject {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--main-color);
}

.dateSep {
    display: inline-block;
    margin: 1rem 0 0.5rem 0;
}

.subFuncBlock {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    border: 2px solid var(--border-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
}

.subFuncBlock > * {
    display: inline-block;
    margin: 0;
}

.subFuncTime {
    font-size: 1.1rem;
}
.subFuncRegion {
    white-space: nowrap;
}
.subFuncTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.empty {
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--gray);
}

/* 이미지 슬라이더 */
.fieldImageContainer {
    max-width: 75rem;
    height: 320px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.fieldImageContainer img {
    width: 100%;
    height: 100%;
}

/* 화살표 */
.arrow {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
}
.arrow button {
    width: 2rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: rgb(0,0,0,0);
    border: none;
    z-index: 10;
}

.arrow svg {
    width: 2rem;
    height: 3rem;
    pointer-events: none;
    fill: rgb(244, 244, 244);
}
.arrow button:hover svg {
    fill: rgb(202, 202, 202);
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;    
    display: flex;
    left: 0px;
    user-select: none;
}
.slider img {
    width: 100%;
    height: 100%;
    position: relative;
    /* 기본값은 1 -> 1이면 컨테이너에 맞게 줄어듬*/
    /* 0 -> 자동조절아님*/
    flex-shrink: 0;
    transition: left 0.15s;
}


.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;
  
    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
  }
  .slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 50px;
  }
  .slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
  }