.fieldImageContainer {
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.fieldImageContainer img {
    width: 100%;
    height: 100%;
}

/* 화살표 */
.arrow {
    position: absolute;
    top: 50%;
    left: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
}
.arrow button {
    width: 2rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: rgb(0,0,0,0);
    border: none;
    z-index: 10;
}

.arrow svg {
    width: 2rem;
    height: 3rem;
    pointer-events: none;
    fill: rgb(244, 244, 244);
}
.arrow button:hover svg {
    fill: rgb(202, 202, 202);
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;    
    display: flex;
    left: 0px;
    user-select: none;
}
.slider img {
    width: 100%;
    height: 100%;
    position: relative;
    /* 기본값은 1 -> 1이면 컨테이너에 맞게 줄어듬*/
    /* 0 -> 자동조절아님*/
    flex-shrink: 0;
    transition: left 0.15s;
}


.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;
  
    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
  }
  .slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 50px;
  }
  .slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
  }


.field {
    display: flex;
    gap: 2rem;
}
 /* 왼쪽 메뉴 */

 /* 경기결과 */
.match-result-empty {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .lock-radius {
        width: 10rem;
        height: 10rem;
        background-color: rgb(210, 210, 210);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 3rem;
            height: 3rem;
            fill: rgb(179, 179, 179);
        }
    }
    span {
        color: gray;
    }
}

.match-result-wrap {
    width: 100%;
    margin-bottom: 2rem;

    .match-result-detail {
        display: flex;
        gap: 2.5rem;
        min-height: 4rem;

        .score-record {
            margin-top: 0.5rem;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column; 
            flex-wrap: wrap;
            row-gap: 0.2rem;
            column-gap: 1rem;
            .goal {
                margin: 0;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 0.35rem;
                .goal-player {
                    color: gray;
                }
                svg {
                    width: 0.9rem;
                    height: 0.9rem;
                    fill: gray;
                }
            }
            .goal > * {
                margin: 0;
            }
            .left-goal {
                justify-content: right;
            }
            .right-goal {
                justify-content: left;
            }
        }
        .left-score-record {
            text-align: right;
        }
        .right-score-record {
            text-align: left;
        }
    }
    .match-result-detail > * {
        margin: 0;
    }
    
    .match-result {
        display: flex;
        position: relative;
        gap: 0.5rem;
        
        .match-team {
            width: 50%;
            height: 6rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 2px 5px #e4e4e4;

            .match-score {
                font-family: 'Pretendard-ExtraBold';
                font-size: 2.5rem;
            }
        }
        .left-team {
            padding: 0 3rem 0 2rem;
        }
        .right-team {
            padding: 0 2rem 0 3rem;
        }
        .team-name {
            font-family: 'Pretendard-SemiBold';
            font-size: 1.5rem;
        }
        .match-team.lose {
            opacity: .6;
        }
        .match-team > * {
            margin: 0;
        }
        .middle-box {
            position: absolute;
            z-index: 3;
            top: calc(50% - 2.5rem);
            left: calc(50% - 2rem);
            width: 4rem;
            height: 5rem;
            border-radius: 1rem;
            background-color: white;
            display: flex;
            justify-content: top;
            flex-direction: column;
            padding-top: 0.5rem;
            .myResult {
                font-family: 'Pretendard-Bold';
                font-size: 1.1rem;
            }
            .getScore {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                font-family: 'Pretendard-ExtraBold';
            }
        }
        .middle-box.win {
            color: red;
        }
        .middle-box.lose {
            color: blue;
        }
        .middle-box.draw {
            color: black;
        }

        .team-detail {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .left-team-detail {
            justify-content: right;
        }
        .right-team-detail {
            justify-content: left;
        }
    }
    .match-result > * {
        margin: 0;
    }
}
.red {
    background-color: var(--red-team);
    color: white;
}
.blue {
    background-color: var(--blue-team);
    color: white;
}
.yellow {
    background-color: var(--yellow-team);
    color: black;
}


.fieldDetails {
    margin: 0;
    flex: 0 0 auto;
    width: 48rem;
}
.fieldDetails > * {
    margin-bottom: 1.5rem;
}

.playInfoDetails {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1rem;
}

.playInfoDetails > * {
    margin: 0;
}

.playInfo-manager {
    margin-top: 1rem;
}

.infoDetail {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.infoDetail > span {
    margin: 0;
}

.infoDetail > svg {
    margin: 0;
    width: 1.3rem;
    height: 1.3rem;
}

.matchRule > h4 {
    margin: 1rem 0;
}
.matchRule ul {
    list-style: initial;
    padding-left: 1rem;
    line-height: 2rem;
}
.matchRule li {
    font-family: 'Pretendard-Light';
}
/* 오른쪽 메뉴 */

.fieldMain {
    margin: 0;
    width: 25rem;
    position: sticky;
    top: 1rem;
    max-height: 16rem;
    display: inline-table;
}

.matchDate {
    display: inline-block;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.matchLocation {
    margin-bottom : 1rem;
}
.matchLocation > * {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.fieldTitle {
    font-size: 1.4rem;
    font-family: 'Pretendard-Bold';
    margin-bottom: 0.3rem;
}
a.fieldAddress {
    display: initial;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
    padding: 0.1rem;
    cursor: pointer;
}
.view_count {
    color: var(--gray);
    fill: var(--gray);
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: left;
}
.view_count > * {
    margin: 0;
}

.matchDecide {
    display: flex;
    justify-content: right;
}

.matchFriend {
    display: inline-block;
    margin-bottom: 0.5rem;
}

b.impact {
    color: var(--main-color);
    font-weight: 600;
}
b.notImpact {
    font-size: 1rem;
    font-weight: 100;
    color: var(--gray);

}
.matchPrice {
    font-size: 1.5rem;
}

.matchDecide a {
    display: flex;
    width: 12rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

a.resultButton.already {
    cursor: default;
    background-color: rgb(185, 185, 185);
    pointer-events: none;
}
.resultButton.already:hover{
    background-color: rgb(185, 185, 185);
}
/* map */
#maps {
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;;
}

/* 참가자 명단 */

.team {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.team > * {
    margin: 0;
}

.teamColor {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    min-width: 7rem;
}
.teamColor > * {
    margin: 0;
}
.players {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}
.player {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #e4e4e4;
    width: 8.5rem;
    height: 11rem;
    cursor: initial;

    .playerImg {
        width: 100%;
        height: 65%;
        border-radius: 1rem;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .playerName {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0.4rem 0 0.2rem 0;
        font-size: 1.2rem;
    }
    .playerInfo {
        font-size: 0.8rem;
        text-align: center;
        color: gray;
    }
}

#managerBtn {
    width: 100%;
    height: 3.5rem;
    font-size: 1.2rem;
    border: none;
    margin-top: 1.5rem;
    border-radius: 0.7rem;
    color: white;
    box-shadow: 2px 2px 5px #b3b3b3;
    background-color: orange;
    cursor: pointer;
}
#managerBtn:hover {
    background-color: rgb(234, 152, 1);
}
#managerBtn.already {
    background-color: rgb(185, 185, 185);
    cursor: default;
    pointer-events: none;
}





