:root {
    --win: red;
    --lose: blue;
    --mix: gray;
}

.matchList {
    padding-top: 0;
    padding-bottom: 0;
}

.matchBox {
    cursor: default;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding: 0rem 1rem;
    align-items: center;
    border-bottom: 0.1rem solid var(--border-color);
}
.matchBox > * {
    margin: 0;
    color: gray;
}
.matchBox:last-child {
    border: none;
}


.matchBox .title {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.matchBox .title:hover {
    text-decoration: underline;
    color: black;
}
.matchInfo .point {
    width: 3rem;
    text-align: center;
}
.win {
    color: var(--win);
}
.lose {
    color: var(--lose);
}
.mix {
    color: var(--mix);
}

.matchList .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 1rem 0;
    cursor: default;
}

