/* 마이페이지 상단 */
.myInfo {
    height: 18rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    background-color: rgb(238, 247, 254);
    margin-bottom: 2rem;
}

.myInfo > *{
    margin: 0;
}

.imgBox {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;
}
.status {
    width: 20rem;
}

.status .name {
    color: var(--main-color);
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}
.email {
    color: var(--gray);
}

.social {
    font-size: 0.8rem;
    border-radius: var(--border-radius);
    border: 0.01rem solid var(--border-color);
    padding: 0.23rem;
    margin-right: 0.5rem;
}
.social.kakao {
    color: black;
    background-color: #FEE500;
}
.social.naver {
    background-color: rgb(72, 214, 72);
    color: rgb(255, 255, 255)
}


.totalStatus {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 53rem;
}


.totalStatus .box {
    margin: 0;
    width: calc(33% - 1rem);
    height: 7rem;
}

.totalStatus .box:hover {
    background-color: rgb(250, 250, 250);
}

.totalStatus .box span {
    font-size: 1.2rem;
    float: right;
}

.totalStatus .box h3 {
    margin-bottom: 1rem;
}

.content {
    flex: 1 1 auto;
}

/* 메뉴, 컨텐츠 */
.mypageMain {
    display: flex;
    gap: 2rem;
}

.mypageMain > * {
    margin: 0;
}

.mypageMenu {
    width: 13rem;
    height: 0;
}

.menuList a {
    width: 100%;
    display: inline-block;
}
.menuList > li {
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    line-height: 2rem;
}
.menuList > li[aria-pressed="true"] {
    background-color: #e6f2ff;
    font-weight: bold;
    border-radius: 0.5rem;
}
.menuList > li[aria-pressed="true"] a {
    color: var(--main-color);
}
.menuList > li:hover {
    text-decoration: underline;
}

/* 캐시 박스 */
.myCash {
    width: 100%;
    background-color: var(--main-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 3px #e4e4e4;
}
.myCash > * {
    margin: 0;
}
.money {
    font-size: 1.3rem;
}
.nowCash {
    width: 100%;
}

.cashBtn {
    color: white;
    text-decoration: underline;
    font-size: 0.9rem;

}
.flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.3rem;

    span {
        width: 3rem;
    }
}
.flex > * {
    margin: 0;
}
#mobileMenu {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: rgba(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgb(220, 220, 220);
    padding: 0.3rem;
    display: none;

}
#mobileMenu svg {
    pointer-events: none;
    width: 100%;
    height: 100%;
    fill: var(--gray);
}
#overlay {
    background: #000;
    bottom: 0;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 101;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .myInfo {
        gap: 1rem;
    }
    .status {
        width: auto;
    }
    .totalStatus .box {
        padding: 1rem;

        h3 {
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (max-width: 1020px) {
    .myInfo {
        height: 12rem;
    }
    .totalStatus {
        #count, #good, #bad {
            display: none;
        }
    }
}

@media screen and (max-width: 840px) {
    .myInfo {
        display: none;
    }
}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 820px) { /* 아이패드 에어크기 */
    html body {
        left: 0;
        -webkit-transition: left .5s ease-in-out;
        -moz-transition: left .5s ease-in-out;
        transition: left .5s ease-in-out;
        margin: 0;
        header {
            transition: left .5s ease-in-out;
            -webkit-transition: left .5s ease-in-out;
            -moz-transition: left .5s ease-in-out;
        }
        .playerWrap {
            transition: left .5s ease-in-out;
            -webkit-transition: left .5s ease-in-out;
            -moz-transition: left .5s ease-in-out;
        }
    }
    html.active body {
        left: -200px;
        -webkit-transition: left .5s ease-in-out;
        -moz-transition: left .5s ease-in-out;
        transition: left .5s ease-in-out;

        .profilebox button#img, .date_picker_wrapper, .date_picker_calendar {
            position: initial;
        }
        header {
            left: -200px;
            -webkit-transition: left .5s ease-in-out;
            -moz-transition: left .5s ease-in-out;
            transition: left .5s ease-in-out;
        }
        .mypageMenu {
            right: 0;
            transition: right .5s ease-in-out;
            -webkit-transition: right .5s ease-in-out;
            -moz-transition: right .5s ease-in-out;
        }
        .playerWrap {
            left: -200px;
            transition: left .5s ease-in-out;
            -webkit-transition: left .5s ease-in-out;
            -moz-transition: left .5s ease-in-out;
        }
    }
    html.active #overlay {
        z-index: 101;
        opacity: .65;
        visibility: visible;
        right: 200px;
        -webkit-transition: right .5s ease-in-out;
        -moz-transition: right .5s ease-in-out;
        transition: right .5s ease-in-out;
      }
    body {
        overflow-x: hidden;
        width: 100%;
    }
    .mypageMenu {
        width: auto;
        position: fixed;
        display: flex;
        z-index: 110;
        top:0;
        right: -200px;
        gap: 2rem;
        max-height: none;
        transition: right .5s ease-in-out;
    }
    .menuLists {
        width: 200px;
        background: #FFF;

        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        padding: 1rem 1.5rem;
        div.myCash.box{
            border-radius: 1rem;
            padding: 0 1rem;
            height: 5rem;
            border: none;
        }
    }

    .menuLists > div.box {
        border-radius: 0;
        border: none;
        border-top: 0.1rem solid var(--border-color);
        box-shadow: none;
        padding: 0;
        padding-top: 1rem;
        position: sticky;
        h3 {
            display: none;
        }
    }
    #mobileMenu {
        margin-top: 1rem;
        display: inline-block;
    }
}
@media screen and (max-width: 375px) {
    .mypageMenu {
        gap: 1rem;
    }
    #mobileMenu {
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media screen and (max-width: 320px) {
    .phoneBox {
        flex-direction: column;

        button.formEditBtn {
            margin-top: 1rem;
            width: 100%;
            height: 3rem;
        }
    }

    .profilebox button#img {
        width: 6rem;
        height: 6rem;
    }
    .editBox #submitBtn {
        margin-top: 1rem;
    }
    
}