:root {
    --charge: red;
    --use: blue;
}

.charge {
    color: var(--charge);
}
.use {
    color: var(--use);
}

.cashBox {
    height: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 5% 10% 10% 10%;
}
.cashList > .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 1rem 0;
    cursor: default;
}