.orderWrap {
    display: flex;
    gap: 2rem;
}

.orderWrap > * {
    margin: 0;
}

.orderDetails {
    width: 45rem;
    height: 10rem;
}

.order {
    width: 30rem;
}
.box {
    margin-bottom: 1rem;
}
.box h2 {
    margin-bottom: 1.5rem;
}

.field {
    margin-bottom: 1rem;
}

.fieldTitle {
    font-size: 1.4rem;
    font-family: 'Pretendard-Bold';
    margin-bottom: 0.3rem;
}
a.fieldAddress {
    display: initial;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
    padding: 0.1rem;
}
.time {
    display: inline-block;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.detailBox > h2 {
    margin: 0;
}
.detailBox * {
    margin: 0;
}

.detailBox {
    border-left: 0.3rem solid var(--main-color);
    padding-left: 0.5rem;
    line-height: 2rem;
    font-size: 1.1rem;
}
.detailBox > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#couponBtn {
    border: none;
    background-color: white;
    font-size: 1rem;
    border-bottom: 1px solid black;
    padding: 0;
    cursor: pointer;
}


#initial {
    cursor: pointer;
}



.order .detailBox {
    font-size: 1rem;
}
.expectedPrice, .finalPrice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.expectedPrice {
    font-size: 1.1rem;
}
.finalPrice {
    font-size: 1.2rem;
}
.expectedPrice > *, .finalPrice > * {
    margin: 0;
}

.order h2 {
    margin-bottom: 2rem;
}
#orderBtn {
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
#orderBtn:hover {
    background-color: var(--main-color-hover);
}

.charge {
    margin-left: 0.5rem;
    border: 0.1rem solid var(--gray);
    border-radius: 1rem;
    color: var(--gray);
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
}

.policy hr {
    margin: 0;
}

.policySubject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    width: 100%;
    border: none;
    background-color: white;
    font-size: 1.05rem;
    padding: 0;

    cursor: pointer;
}
.policyItem > pre {
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
}
pre.show {
    transition: all 0.4s ease-in;
    max-height: 100vh;
}
.policySubject > * {
    margin: 0;
}

.checkbox {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.checkbox > * {
    margin: 0;
}

#policy {
    opacity: 0;
    width: initial;
    position: absolute;
    top: -1rem;
}

.check {
    width: 22px;
    height: 22px;
    background: #E6ECF1;
    border-radius: 6px;
    border: 1px solid #D9E0E6;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check.confirm {
    background-color: var(--main-color);
}
.check svg {
    fill: #E6ECF1;
}

.rotate{
    rotate: 90deg;
}

.calCouponTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.calCouponPrice {
    min-width: 4rem;
    margin-left: 1rem;
}

/* 팝업 */
body {
    position: relative;
}
.pop .box {
    box-shadow: none;
}
.pop {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.353);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop.disabled {
    display: none;
}
.couponPop {
    width: 25rem;
    max-height: 35rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 1rem;
    background-color: white;
    padding: 0 1.5rem 1.5rem 1.5rem;
    overflow-y: scroll;
}
.popTop {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    align-items: center;
    margin-bottom: 1rem;
}
.popTop > * {
    margin: 0;
}
.title {
    font-size: 1.1rem;
}
button.popCancel {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
button.popCancel * {
    pointer-events: none;
}

.notSelect {
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    margin-bottom: 1rem;
    margin: 1rem;
    width: 90%;
}
.notSelect > * {
    margin: 0;
    cursor: pointer;
}
.notSelect input {
    width: 1.5rem;
    height: 1.5rem;
}

.notSelect label {
    font-size: 1.1rem;
    color: gray;
}

/* 쿠폰 디자인 */

.couponList{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.coupon{
    width: 100%;
    height: 8rem;
    border: none;
    border-left: 0.6rem solid var(--main-color);
    border-radius: var(--border-radius);
    position: relative;
    padding: 0.5rem;
    padding-left: 1rem;
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
    margin-bottom: 1rem;
    background-color: white;
    cursor: initial;
}

.coupon .empty{
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    position: absolute;
    right: -0.75rem;
    top: calc(50% - 1rem);
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgb(185, 185, 185) inset;
}

.couponRadio{
    display: flex;
}

.couponRadio label svg{
    width: 1.5rem;
}

.couponPrice{
    width: 100%;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.couponTitle{
    display: block;
    margin-bottom: 1.7rem;
}
.couponExpireCount{
    margin-right: 1rem;
}
.couponExpireDate{
    color: rgb(154, 154, 154);
}

.noncoupon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(201, 201, 201);
}

input[name="couponNum"]:checked + .custom-radio {
    border: 8px solid var(--main-font-color);
}

.custom-radio {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.errorBox {
    margin-top: 1rem;
    text-align: left;
}


@media screen and (max-width: 75rem) {
    body {
        min-height: 55rem;
    }
}


@media screen and (max-width: 768px) {
    body {
        margin-bottom: 43rem;
    }
    header {
        display: none;
    }

    .order {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        padding: 1rem 1.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        h2 {
            display: none;
        }

        .sideHr {
            margin: 1rem 0;
        }
    }
    #orderBtn {
        height: 3.5rem;
    }
    .finalPrice {
        margin: 0;
    }
    
}

@media screen and (max-width: 420px) {
    .couponPop {
        width: 22rem;
    }
}

@media screen and (max-width: 350px) {
    .couponPop {
        width: 22rem;
    }
    .couponExpireCount {
        display: none;
    }
    .coupon {
        height: auto;
    }
}