<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin_main.css">
    <link rel="stylesheet" href="/css/admin_ground_common.css">
    <link rel="stylesheet" href="/css/admin_ground_view.css">
    <script src="/js/admin_ground_edit.js"></script>
    <title>구장정보 :: 프로젝트</title>
</head>
<body>
    <body>
        <header>
            <div class="flexL">
                <a href="#" class="logo">
                    <img src="#" alt="로고이미지">
                </a>
                <ul class="menu">
                    <li class="menuTitle">메뉴1</li>
                    <li class="menuTitle">메뉴2</li>
                    <li class="menuTitle">메뉴3</li>
                    <li class="menuTitle">메뉴4</li>
                </ul>
            </div>
            <div class="flexR">
                <a href="/mypage" class="info_user">
                    <img src="https://phinf.pstatic.net/contact/20220724_153/1658672074422w1wxl_JPEG/IMG_8012.JPG?type=f130_130" width="64" height="64" alt="김승우">
                </a>
            </div> 
        </header>
        <div class="container">
            <aside class="side box">
                <div class="profile">
                    <span class="name">김승우 <small>관리자</small></span>
                </div>
                <hr class="sideHr">
                <ul class="adMenu">
                    <li><a href="#" class="adMenuList">전체통계</a></li>
                    <li><a href="#" class="adMenuList">구장관리</a></li>
                    <li><a href="#" class="adMenuList">경기관리</a></li>
                    <li><a href="#" class="adMenuList">회원관리</a></li>
                </ul>
            </aside>
            <div class="mainBox box">
                <h2>구장정보</h2>
                    <h3>구장이미지</h3>
                    <div class="preview">
                        <div class="imgBox" th:each="image : ${editFieldForm.savedImages}">
                            <img th:src="|/images/fieldImage/${image.fieldImageStoreName}|" th:alt="${image.fieldImageName}"/>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>구장이름</th>
                            <td>
                                <input type="text" th:field="${editFieldForm.fieldName}" class="inputForm" disabled>
                            </td>
                        </tr>
                        <tr>
                            <th>구장위치</th>
                            <td>
                                <div class="regionBox">
                                    <span id="regionName" th:text="${editFieldForm.region}">지역</span>
                                </div>
                                <input type="text" th:field="${editFieldForm.fieldAddress}" class="inputForm" disabled>
                            </td>
                        </tr>
                        <tr>
                            <th>구장크기</th>
                            <td class="sizeBox">
                                <input type="text" th:field="${editFieldForm.xSize}" placeholder="가로m" class="inputForm size" inputmode="numeric" disabled>
                                <span>X</span>
                                <input type="text" th:field="${editFieldForm.ySize}" placeholder="세로m" class="inputForm size" inputmode="numeric" disabled>
                            </td>
                        </tr>
                        <tr>
                            <th>구장옵션</th>
                            <td>
                                <div class="optionBox">
                                    <div class="options">
                                        <h4>주차장</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="${editFieldForm.parking}" id="free" value="무료" disabled><label for="free">무료</label></li>
                                            <li><input type="radio" th:field="${editFieldForm.parking}" id="notFree" value="유료" disabled><label for="notFree">유료</label></li>
                                            <li><input type="radio" th:field="${editFieldForm.parking}" id="not" value="불가" disabled><label for="not">불가</label></li>
                                        </ul>
                                    </div>
                                    <div class="options">
                                        <h4>화장실</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="${editFieldForm.toilet}" id="oToilet" value="있음" disabled><label for="oToilet">있음</label></li>
                                            <li><input type="radio" th:field="${editFieldForm.toilet}" id="xToilet" value="없음" disabled><label for="xToilet">없음</label></li>
                                        </ul>
                                    </div>
                                    <div class="options">
                                        <h4>샤워장</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="${editFieldForm.shower}" id="oShower" value="있음" disabled><label for="oShower">있음</label></li>
                                            <li><input type="radio" th:field="${editFieldForm.shower}" id="xShower" value="없음" disabled><label for="xShower">없음</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>구장 특이사항</th>
                            <td>
                                <textarea th:field="${editFieldForm.fieldDetails}" cols="30" rows="10" class="inputForm" disabled></textarea>
                            </td>
                        </tr>
                    </table>
                    <div class="submitBox">
                        <a th:href="|/admin/ground/${fieldId}/edit|" class="submitBtn btn">수정</a>
                    </div>
            </div>
        </div>
    </body>
</body>
</html>