<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin_main.css">
    <title>관리자 메인 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="container">
        <aside class="side box" th:replace="~{/common/admin_menu :: adminMenu}"></aside>
        <div class="mainBox box"></div>
    </div>
</body>
</html>