<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin_main.css">
    <link rel="stylesheet" href="/css/admin_ground.css">
    <script src="/js/admin_search_ground.js"></script>
    <script src="/js/fetch.js"></script>
    <title>구장관리 :: 프로젝트</title>
</head>
<body>
    <body>
        <header th:replace="~{/common/header :: header}"></header>
        <div class="container">
            <aside class="side box" th:replace="~{/common/admin_menu :: adminMenu}"></aside>
            <div class="mainBox box">
                <h2>구장관리</h2>
                <div class="option">
                    <button class="region btnBox">
                        <span>지역</span>
                        <svg viewBox="0 0 9 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                    </button>
                    <ul class="subOption regionOption disabled">
                        <li th:each="loc : ${locations}">
                            <input type="checkbox" name="region" th:id="${loc.regionId}" th:value="${loc}" th:checked="${loc.regionId == 'regionAll'}">
                            <label th:for="${loc.regionId}" th:text="${loc}"></label>
                        </li>
                    </ul>
                    <input type="text" name="searchWord" id="searchWord" placeholder="구장 이름을 입력해주세요.">
                    <button type="button" class="btn" id="searchBtn">검색</button>
                </div>
                <div class="group">
                    <span class="total">총 3건</span>
                    <a href="/admin/ground/add" class="btn" id="groundAdd">등록</a>
                </div>
                <ul class="searchResult">
                    <li class="none">검색 결과가 없습니다.</li>
                </ul>
            </div>
        </div>
    </body>
</body>
</html>