<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin_main.css">
    <title>관리자 메인 :: 프로젝트</title>
</head>
<body>
    <header>
        <div class="flexL">
            <a href="#" class="logo">
                <img src="#" alt="로고이미지">
            </a>
            <ul class="menu">
                <li class="menuTitle">메뉴1</li>
                <li class="menuTitle">메뉴2</li>
                <li class="menuTitle">메뉴3</li>
                <li class="menuTitle">메뉴4</li>
            </ul>
        </div>
        <div class="flexR">
            <a href="/mypage" class="info_user">
                <img src="https://phinf.pstatic.net/contact/20220724_153/1658672074422w1wxl_JPEG/IMG_8012.JPG?type=f130_130" width="64" height="64" alt="김승우">
            </a>
        </div> 
    </header>
    <div class="container">
        <aside class="side box">
            <div class="profile">
                <span class="name">김승우 관리자님</span>
                <span class="grade">최고 관리자</span>
            </div>
            <hr class="sideHr">
            <ul class="adMenu">
                <li><a href="#" class="adMenuList">전체통계</a></li>
                <li><a href="#" class="adMenuList">구장관리</a></li>
                <li><a href="#" class="adMenuList">경기관리</a></li>
                <li><a href="#" class="adMenuList">회원관리</a></li>
            </ul>
        </aside>
        <div class="mainBox box"></div>
    </div>
</body>
</html>