<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/call.css">
    <script src="/js/calendar.js"></script>
    <script src="/js/main.js"></script>
    <title>풋볼 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="banner" th:text="${session.memberId}">

    </div>
    <div class="container">
        <div class="main">
            <div class="searchBox">
                <div class="calendarBox">
                    <button class="previous svgBox">
                        <svg xmlns="http://www.w3.org/2000/svg" style="rotate:180deg" viewBox="0 0 512 512"><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM281 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L136 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l182.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L393 239c9.4 9.4 9.4 24.6 0 33.9L281 385z"/></svg>
                    </button>
                    <div class="displayCalendar"> 
                        <ul class="calendar">
                            <li class="day">
                                <p>1</p>
                                <span>월</span>
                            </li>
                            <li class="day">
                                <p>2</p>
                                <span>화</span>
                            </li>
                            <li class="day">
                                <p>3</p>
                                <span>수</span>
                            </li>
                            <li class="day">
                                <p>4</p>
                                <span>목</span>
                            </li>
                            <li class="day">
                                <p>5</p>
                                <span>금</span>
                            </li>
                            <li class="day isSat">
                                <p>6</p>
                                <span>토</span>
                            </li>
                            <li class="day isSun">
                                <p>7</p>
                                <span>일</span>
                            </li>
                            <li class="day">
                                <p>8</p>
                                <span>월</span>
                            </li>
                            <li class="day">
                                <p>9</p>
                                <span>화</span>
                            </li>
                            <li class="day">
                                <p>10</p>
                                <span>수</span>
                            </li>
                            <li class="day">
                                <p>11</p>
                                <span>목</span>
                            </li>
                            <li class="day">
                                <p>12</p>
                                <span>금</span>
                            </li>
                            <li class="day isSat">
                                <p>13</p>
                                <span>토</span>
                            </li>
                            <li class="day isSun">
                                <p>14</p>
                                <span>일</span>
                            </li>
                            <li class="day">
                                <p>15</p>
                                <span>월</span>
                            </li>
                            
                        </ul>
                    </div>
                    <button class="next svgBox">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM281 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L136 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l182.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L393 239c9.4 9.4 9.4 24.6 0 33.9L281 385z"/></svg>
                    </button>
                </div>
                <form class="searchForm">
                    <input type="search" name="keyword" id="keyword" class="btnBox" placeholder="지역 또는 구장명 검색">
                    <button class="searchButton svgBox">
                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                    </button>
                </form>
                <div class="option">
                    <button class="region btnBox">
                        <span>지역</span>
                        <svg viewBox="0 0 9 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                        <ul class="subOption regionOption disabled">
                            <li><input type="checkbox" name="region" id="regionAll"><label for="regionAll">전체</label></li>
                            <li><input type="checkbox" name="region" id="seoul"><label for="seoul">서울</label></li>
                            <li><input type="checkbox" name="region" id="incheon"><label for="incheon">인천</label></li>
                            <li><input type="checkbox" name="region" id="gyeonggi"><label for="gyeonggi">경기도</label></li>
                        </ul>
                    </button>
                    
                    <button class="gender btnBox">
                        <span>성별</span>
                        <svg viewBox="0 0 9 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                        <ul class="subOption genderOption disabled">
                            <li><input type="checkbox" name="gender" id="genderAll"><label for="genderAll">전체</label></li>
                            <li><input type="checkbox" name="gender" id="male"><label for="male">남자만</label></li>
                            <li><input type="checkbox" name="gender" id="female"><label for="female">여자만</label></li>
                        </ul>
                    </button>
                    <button class="grade btnBox">
                        <span>등급</span>
                        <svg viewBox="0 0 9 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                    </button>
                </div>
            </div>

            <div class="searchListBox">
                <div class="searchCountBox">
                    <span class="searchCount">3건</span>
                </div>

                <ul class="searchResult">
                    <a href="#" class="result btnBox">
                        <span class="resultTime">18:00</span>
                        <span class="resultRegion">서울</span>
                        <div class="resultContent">
                            <div class="resultTitle">모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장모모구장</div>
                            <ul class="subTitle">
                                <li class="resultGender">남녀모두</li>
                                <li class="resultPlayer">6 vs 6</li>
                            </ul>
                        </div>
                        <button class="resultButton on">신청하기</button>
                    </a>
                    <a href="#" class="result btnBox">
                        <span class="resultTime">19:00</span>
                        <span class="resultRegion">서울</span>
                        <div class="resultContent">
                            <div class="resultTitle">다른구장</div>
                            <ul class="subTitle">
                                <li class="resultGender">남자만</li>
                                <li class="resultPlayer">5 vs 5</li>
                            </ul>
                        </div>
                        <button class="resultButton on-2">마감직전</button>
                    </a>
                    <a href="#" class="result btnBox">
                        <span class="resultTime">19:00</span>
                        <span class="resultRegion">서울</span>
                        <div class="resultContent">
                            <div class="resultTitle">어딘가의jjjjjjjj 구장</div>
                            <ul class="subTitle">
                                <li class="resultGender">여자만</li>
                                <li class="resultPlayer">6 vs 6</li>
                            </ul>
                        </div>
                        <button class="resultButton off">마감</button>
                    </a>
                    <div class="btnBox notFound">
                        <span>검색 결과가 없습니다.</span>
                    </div>
                </ul>
            </div>
            
        </div>
        <aside class="side" th:if="${session.memberId == null}">
            <div class="noneId">
                <a href="/login" class="button">로그인하러 가기</a>
            </div>
        </aside>
        <aside class="side" th:if="${session.memberId != null}">
            <div class="readMe">
                <div class="me">
                    <span class="myName">김승우</span>
                </div>
                <table class="rank">
                    <tr class="rankTitle">
                        <th>순위</th>
                        <th>점수</th>
                        <th>등급</th>
                    </tr>
                    <tr>
                        <td class="ranking">100,000위</td>
                        <td class="">1,000점</td>
                        <th class="grade">아마추어1</th>
                    </tr>
                </table>
            </div>

            <button class="button">
                <span class="">1,000원</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M464 160c8.8 0 16 7.2 16 16V336c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16H464zM80 96C35.8 96 0 131.8 0 176V336c0 44.2 35.8 80 80 80H464c44.2 0 80-35.8 80-80V320c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32V176c0-44.2-35.8-80-80-80H80zm368 96H96V320H448V192z"/></svg>
                <!-- 충전이 필요한 경우 -->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7l-87.5-68.6C563.1 386 576 362.5 576 336V320c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32V176c0-44.2-35.8-80-80-80H154.8L38.8 5.1zM236.4 160H496c8.8 0 16 7.2 16 16V336c0 8.8-7.2 16-16 16H481.4l-245-192zm88.5 192H112c-8.8 0-16-7.2-16-16V176c0-1.4 .2-2.7 .5-4L45.4 131.7C36.9 144.4 32 159.6 32 176V336c0 44.2 35.8 80 80 80H406.2l-81.2-64z"/></svg> -->
            </button>

            <hr class="sideHr">

            <div class="subFunc">
                <a href="#" class="subFuncSubject">내 일정 ></a>
                <ul class="subFuncList">
                    <span class="dateSep">2023년 11월 24일</span>
                    <a href="#" class="subFuncBlock">
                        <span class="subFuncTime">23:00</span>
                        <span class="subFuncRegion">서울</span>
                        <span class="subFuncTitle">어딘가의 kkkkkkkkkjkkk구장</span>
                    </a>
                    <a href="#" class="subFuncBlock">
                        <span class="subFuncTime">23:00</span>
                        <span class="subFuncRegion">서울</span>
                        <span class="subFuncTitle">어딘가의 구장</span>
                    </a>
                    <span class="dateSep">2023년 11월 25일</span>
                    <a href="#" class="subFuncBlock">
                        <span class="subFuncTime">23:00</span>
                        <span class="subFuncRegion">서울</span>
                        <span class="subFuncTitle">어딘가의 구장</span>
                    </a>
                </ul>
            </div>

            <hr class="sideHr">

            <div class="subFunc">
                <a href="#" class="subFuncSubject">내 일정 ></a>
                <div class="empty">
                    아직 일정이 없어요
                </div>
            </div>
        </aside>
    </div>

    <footer>

    </footer>
</body>
</html>