<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/manager.css">
    <script src="/js/manager.js"></script>
    <title>매니저 :: 프로젝트</title>
</head>
<body>
    <header th:replace="~{/common/header :: header}"></header>
    <div class="container">
        <div id="manager_form">
            <div class="manager_title">
                <span>여러분의 힘이 필요해요</span>
                <span><b>모두의 풋볼 매니저</b>가 되어주세요.</span>
            </div>
            <div class="manager_content">
                <div class="input_form">
                    <span>이름</span>
                    <input type="text" name="name" id="name" placeholder="실명을 적어주세요.">
                </div>
                <div class="input_form">
                    <span>생년월일</span>
                    <input type="text" name="birth" id="birth" placeholder="1999-01-01" disabled>
                </div>
                <div class="input_form">
                    <span>전화번호</span>
                    <input type="text" name="phone" id="phone" value="010-1234-5678" disabled>
                </div>
                <div class="input_form">
                    <span>활동구역</span>
                    <button type="button" class="region">
                        <span class="region-title">선택하기</span>
                        <svg viewBox="0 0 9 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                        <ul class="subOption" name="subOption">
                            <li><input type="radio" name="region" id="seoul" value="서울"><label for="seoul">서울</label></li>
                            <li><input type="radio" name="region" id="incheon" value="인천"><label for="incheon">인천</label></li>
                            <li><input type="radio" name="region" id="gyeonggi" value="경기도"><label for="gyeonggi">경기도</label></li>
                        </ul>
                    </button>
                </div>
            </div>
            <input type="submit" id="manager_submit" value="지원하기">
        </div>
    </div>
</body>
</html>