<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypage_main.css">
    <link rel="stylesheet" href="/css/mypage_order.css">
    <title>경기내역 :: 프로젝트</title>
</head>
<body>
    <header>
        <div class="flexL">
            <a href="#" class="logo">
                <img src="/" alt="로고이미지">
            </a>
            <ul class="menu">
                <li class="menuTitle">메뉴1</li>
                <li class="menuTitle">메뉴2</li>
                <li class="menuTitle">메뉴3</li>
                <li class="menuTitle">메뉴4</li>
            </ul>
        </div>
        <div class="flexR">
            <a href="/mypage" class="info_user">
                <img src="https://phinf.pstatic.net/contact/20220724_153/1658672074422w1wxl_JPEG/IMG_8012.JPG?type=f130_130" width="64" height="64" alt="김승우">
            </a>
        </div>
    </header>
    <div class="container">
        <div class="myInfo box">
            <a href="#" class="imgBox">
                <img src="https://phinf.pstatic.net/contact/20220724_153/1658672074422w1wxl_JPEG/IMG_8012.JPG?type=f130_130" width="100%" height="100%" alt="김승우">
            </a>
            <div class="status">
                <div class="name">
                    김승우
                    <span class="social kakao">KAKAO</span>
                    <span class="social naver">NAVER</span>
                </div>
                <div class="email">
                    tmd8633@naver.com
                </div>
            </div>
            <div class="totalStatus">
                <a href="#" class="box">
                    <h3>점수</h3>
                    <span>1,015점</span>
                </a>
                <a href="#" class="box">
                    <h3>순위</h3>
                    <span>10,000등</span>
                </a>
                <a href="#" class="box">
                    <h3>등급</h3>
                    <span>아마추어1</span>
                </a>
                <a href="#" class="box">
                    <h3>전적</h3>
                    <span>10전 6승 4패</span>
                </a>
                <a href="#" class="box">
                    <h3>매너점수</h3>
                    <span>0점</span>
                </a>
                <a href="#" class="box">
                    <h3>비매너점수</h3>
                    <span>0점</span>
                </a>

            </div>
        </div>
        <div class="mypageMain">
            <div class="mypageMenu box">
                <h3>마이페이지</h3>
                <ul class="menuList">
                    <li><a href="/mypage/order">경기내역</a></li>
                    <li><a href="/mypage/cash">충전내역</a></li>
                    <li><a href="/mypage/coupon">쿠폰</a></li>
                    <li><a href="/mypage/friend">친구</a></li>
                    <li><a href="/mypage/edit">프로필 수정</a></li>
                    <li><a href="/mypage/settings">설정</a></li>
                </ul>
            </div>
            <div class="content box">
                <h2>경기내역</h2>
                <div class="searchBox">

                </div>
                <ul class="matchList">
                    <li class="matchBox">
                        <span class="matchDate">2023년 11월 26일(일)</span>
                        <span class="matchTime">18:00 ~ 20:00</span>
                        <span class="result win">승</span>
                        <span class="matchScore">1 vs 0</span>
                        <a href="#" class="title">부산 준타스 풋살 아레나 화이트</a>
                        <span class="win">+ 5</span>
                    </li>
                    <li class="matchBox">
                        <span class="matchDate">2023년 11월 25일(토)</span>
                        <span class="matchTime">00:00 ~ 02:00</span>
                        <span class="result lose">패</span>
                        <span class="matchScore">1 vs 2</span>
                        <a href="#" class="title">무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨무슨 구장</a>
                        <span class="lose">- 5</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>