<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/loginCommon.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인 :: 프로젝트</title>
</head>
<body>
    <div class='container'>
        <form class='login_form' method="post" th:object="${loginDto}" action="/login">
            <div class='login_logo'>
                <img src="/images/login_logo.svg" alt="logo" width="100%" height="100%">
            </div>
            <div class='login_box email'>
                <h5>이메일</h5>
                <input type="text" th:field="*{email}" placeholder="email@gmail.com">
            </div>
            <div class='login_box password'>
                <h5>비밀번호</h5>
                <input type="password" maxlength='15' minlength="8" th:field="*{password}" placeholder="대,소문자 특수문자 포함 8~15자">
            </div>
            <input type="submit" value="로그인" class="login_button">
            <div class="errorMsgBox">
                <div class="errorMsg">[[${errorMsg}]]</div>
            </div>
            <div class='login_look'>
                <a href="/register">회원가입</a>
                <a href="/findEmail">이메일 찾기</a>
                <a href="/findPassword">비밀번호 찾기</a>
            </div>
            <div class='login_social'>
                <button type="button" class="login_naver">네이버 로그인</button>
                <button type="button" class="login_kakao"> 카카오 로그인</button>
            </div>
        </form>
    </div>
</body>
</html>